.spinner {
    border: 0.25rem solid rgba(var(--foreground-rgb),0.5);
    border-radius: 50%;
    animation: spin 0.7s linear infinite;
    width: 3rem;
    height: 3rem;
    border-top-color: rgb(var(--foreground-rgb));
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}